@use '../../mixins.scss';

@mixin increaseSizeHover{
    font-weight: 800;
        transition: transform 100ms ease-out;
        &:hover{
            transform: scale(1.1);
            transform-origin: bottom;
        }
}

.navbarComponent{
    @include mixins.flexSmGap;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);

    a{
        @include increaseSizeHover();

        &:hover{
            color:var(--font-primary)
        }
    }

    button {
        @include increaseSizeHover();
    }
}

.brandLogo{
    fill: white;
}

.leftSideSection{
    width: 400px;
}

.rightSideSection, .leftSideSection{
    @include mixins.flexSmGap;
    align-items: center;
}

.roundedButtonContainer{
    display: inline-flex;
    background-color: var(--background-layer-1);
    padding: var(--padding-sm);
    border-radius: 200px;
}

.linksContainer{
    @include mixins.flexSmGap;
}

.primaryButton{
    padding: var(--padding-sm) var(--padding-md);
    border-radius: 2rem;
    font-size: 1rem;
    cursor:pointer;
}