.searchBarComponent {
  width: 400px;
  height: 100%;

  input {
    height: 45px;
    width: clamp(200px, 20vw, 450px);
    padding-inline: var(--padding-sm);
    background-color: var(--background-layer-1);
    border-radius: 100rem;
    color:var(--font-primary);
    border: none;
    transition: box-shadow 250ms ease;
    font-size: 1rem;

    &::placeholder{
      color:var(--font-secondary);
    }

    &:active,
    &:focus {
      border: none;
      outline: none;
      box-shadow: inset 0 0 0 2px var(--font-primary);
    }
  }
}
