@use '../../mixins.scss';

.featureBoxComponent{
    @include mixins.flexSmGap;
    width: 100%;
    padding: var(--padding-sm);
    background-color: var(--background-layer-1);
    flex-direction: column;
    border-radius: .5rem;
    box-sizing: border-box;
}